/*--Variables--*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import "tooltipMixin";
@import "bannerAdMixin";


$color1: black;
$color-devil: #CC4A4A;
$white: white;
$black: black;
$color-background: #081A2F;


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);
.staffLogin{
margin-left: 40%;
  margin-top: 5%;
  width: 300px;
  background-color: black;
  height: 500px;
  text-align: center;
  justify-content: center;
  color: white;
  border: white 15px solid;
  border-radius: 20px;
  .form-control{
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    width: 200px;
    color: white;
  }
}
body{
  background-color: $color-background;
  background-image: url("images/brickBackground.png");
}
#bannerADshop{
  background-image: url("images/warpAdBackground.gif");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  width: 750px;
  height: 300px;
  top: 400px;
  left: 30%;


  -webkit-mask-image: url(images/warpSpeedSavings.png);
  mask-image: url(images/warpSpeedSavings.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
#dollaBillz{
  width: 750px;
  height: 300px;
  top:-80px;
  position: absolute;
  animation-name: makeItRain;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}
@keyframes makeItRain {
  from { top: -80px}
  to { top: 100px}
}

#savingsAD{
  height: 300px;
  left: 50px;
  top: 100px;
  text-align: center;
  width: 300px;
  background-image: url("images/moneyBackground.jpg");
}
#bannerADcontainer{
  border: transparent 15px solid;
  border-image: url("images/war3border.jpg") 30 repeat;
  height: 85px;
  width: 100%;
}
#save-on-shipping {
  @include bannerAd;
  width: 250px;
  height: 250px;
  animation-name: phaseIN;
  animation-delay: .5s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  opacity: 0;
  text-align: left;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.attentionBoard > img {
  width: 350px;
  background-color: black;
}

@keyframes phaseIN {
  from {opacity: 0}
  to {opacity: 1}

}

#castleTop{
  background-image: url("images/war3borderCastle.gif");
  background-repeat: repeat;
  height: 25px;
  width: 120%;
}
.castleTop{
  background-image: url("images/war3borderCastle.gif");
  background-repeat: repeat;
  height: 25px;
  width: 120%;
}
.noticeboard{
  position: absolute;
  top: 200px;
  left: 50%;
  background-image: url("images/war3background.gif");
  background-repeat: repeat;
  width: 650px;
  height: 920px;
  padding: 15px;
  border: transparent 15px solid;
  border-image: url("images/war3border.jpg") 30 repeat;
  box-shadow: black 15px 15px;
}
.scroll{
  width: 600px;
  height: 800px;
  justify-content: center;
}
.scrollWords{
  justify-content: center;
  position: relative;
  top: -600px;
}
.attentionBoard{
  position: absolute;
  top: 250px;
  left: -200px;
  background-image: url("images/war3background.gif");
  background-repeat: repeat;
  width: 650px;
  height: 920px;
  padding: 15px;
  border: transparent 15px solid;
  border-image: url("images/war3border.jpg") 30 repeat;
  box-shadow: black 15px 15px;
}

.navbar-store-name{
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 55px;
  align-items: center;
}

/*--responsive--*/

/*-- Carousel--*/

/*-- About Us Tooltips --*/
#jamesWhite{
  top: 200px;
  @include tooltip;
  img{border: transparent 15px solid;
  border-image: url("images/war3border.jpg") 30 repeat;
    box-shadow: black 15px 15px;}
}
#jamesWhiteText{
  @include textBox
}
#jamesWhiteText::before{
  @include textBefore;
}
#jamesWhite:hover #jamesWhiteText{
  @include tooltipHover;
}
#thomasRed{
  top: 600px;
  @include tooltip;
  img{border: transparent 15px solid;
    border-image: url("images/war3border.jpg") 30 repeat;
    box-shadow: black 15px 15px;}

}
#thomasRedText{
  @include textBox
}
#thomasRedText::before{
  @include textBefore;
}
#thomasRed:hover #thomasRedText{
  @include tooltipHover;
}
$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);

#myCarousel {
  height: 400px;
  $carousel-control-transition:        opacity .15s ease;
  $carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
}

#theFooter{
  height: 300px;
  width: 100%;
  background-color: #343A40;
  position: absolute;
  top: 3000px;
  .col{
    justify-content: center;
    top: 100px;
    color: white;
    font-size: 20px;
  }

}

@media screen and (max-width: 575px){

}

.formLogin{
  background-repeat: repeat;
  width: 650px;
  height: 400px;
  padding: 15px;
  border: transparent 15px solid;
  border-image: url("images/war3border.jpg") 30 repeat;
  box-shadow: black 15px 15px opacity(.5);
  text-align: center;
  margin-top: 13%;
}

.button {
  color: white;
  border-radius: 25px;
  background-color: $color-background;
  background-position: left top;
  background-repeat: repeat;
  align-items: center;
  opacity: .6;
  padding: 4px;
  margin: 10px;
  height: 40px;
  box-shadow: 0 15px 5px black;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  width: 180px;
  flex-direction: column;
}
.button:hover{
  background-image: linear-gradient($color-background, grey);/**here is the use of my gradient**/
  opacity: .99;
}
.button a:link{
  color: aliceblue;
  text-decoration: none;
}
.button a:visited{
  color: aliceblue;
  text-decoration: none;
}