/*--Properties for the tooltip--*/
$color-devil: #CC4A4A;

@mixin tooltip{
  position: absolute;
  left: 20%;
  cursor: pointer;
  padding: 7px;
  font-size: 10px;
  font-weight: bold;
  font-family: Sans-serif;
  color: grey;
}
@mixin textBefore{
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}
@mixin textBox{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: black;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: 5px 1px $color-devil;
}
@mixin tooltipHover{
  top: 10%;
  left: 200px;
  visibility: visible;
  opacity: 1;
  box-shadow: 5px 5px $color-devil;
}